/*Inicia Card Normal*/
.boxcard{
    text-align: left;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    margin-bottom: 5%;
    align-self: center;
    justify-self: center;
}

.titulocard{
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0%;
    text-align: center;
}

.fotocard{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.textocard{
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0%;
    text-align: left;
    font-size: 16px;
}

.cuerpocard{
    padding: 2%;
}

.piecard{
    background: #1FAF0E;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
}

.piecard a{
    text-decoration: none;
    color: white;
}

.piecard a:hover{
    color: rgb(245, 157, 35);
}
/*Termina Card Normal*/

/*Inicia Card Pequeño*/
.boxcardsm{
    width: 90%;
    height: 80%;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    margin-bottom: 5%;
    align-self: center;
    justify-self: center;
}

.fotocardsm{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/*Termina Card Pequeño*/

@media screen and (min-width: 400px) {
    /*Inicia Card Normal*/
    .fotocard{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina Card Normal*/

    /*Inicia Card Pequeño*/
    .boxcardsm{
        width: 45%;
        height: 80%;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius:15px;
        margin-bottom: 5%;
        margin-right: 1%;
        align-self: center;
        justify-self: center;
    }

    .fotocardsm{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    /*Termina Card Pequeño*/
}

@media screen and (min-width: 800px) {
   /*Inicia Card Normal*/
    .fotocard{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina Card Normal*/

    /*Inicia Card Pequeño*/
    .boxcardsm{
        width: 100%;
        height: 80%;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius:15px;
        margin-bottom: 5%;
        align-self: center;
        justify-self: center;
    }

    .fotocardsm{
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    /*Termina Card Pequeño*/
}