.textotitulomd a
{
    color: #333333;
}

.textotitulomd span
{
    text-align: right;
    color: rgb(245, 157, 35);
}

.boxfoto{
    font-size: 14px;
    color: #333333;
    display: block;
}

.boxicono
{
    display: flex;
    align-items: center;
    gap: 2%;
}

.fotoseccion
{
    width: 100%;
}

@media screen and (min-width: 400px) {
    .boxicono
    {
        display: flex;
        align-items: center;
        gap: 1%;
    }

    .fotoseccion
    {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .boxicono
    {
        display: flex;
        align-items: center;
        gap: 3%;
    }

    .boxfoto{
        font-size: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 3%;
        row-gap: 3%;
        color: #333333;
    }

    .fotoseccion
    {
        height: 200px;
        width: 100%;
    }
}