/*
.leaf-shaped-element {
	float: left;
	width: 400px;
	height: 400px;
	shape-outside: url(leaf.png);
	shape-margin: 15px;
	shape-image-threshold: 0.5;
	background: #009966 url(path/to/background-image.jpg);
	mask-image: url(leaf.png);
}
*/

.seccioncategoriasclip{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.seccioncategoriasclip img{
	height: 270px;
    width: 100%;
}



.clip-circulo {
	/*clip-path: circle(30% at center);*/
	/*height: 10%;
    width: 100%;*/
	clip-path: circle(40% at center);
  }

  .svg-normal-mask {
	height: 50px;
    width: 50px;
	mask: url(../img/svg/hoja.svg) 0 repeat;
  }


  .animacion{
	margin-top: 1%;
	animation: 3s infinite alternate circle;
  }

  @keyframes circle {
	from {
	  clip-path: circle(0%);
	}
	to {
	  clip-path: circle(120px);
	}
  }

  .boxcardcircle{
    width: 90%;
    border-radius:15px;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 400px) {
    .seccioncategoriasclip{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.boxcardcircle{
        width: 45%;
        border-radius:15px;
		margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 1%;
        align-self: center;
        justify-self: center;
    }
}

@media screen and (min-width: 800px) {
    .seccioncategoriasclip{
		margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3%;
	}

	.boxcardcircle{
        width: 100%;
        border-radius:15px;
        align-self: center;
        justify-self: center;
    }
}
  