/*
.leaf-shaped-element {
	float: left;
	width: 400px;
	height: 400px;
	shape-outside: url(leaf.png);
	shape-margin: 15px;
	shape-image-threshold: 0.5;
	background: #009966 url(path/to/background-image.jpg);
	mask-image: url(leaf.png);
}
*/

.seccioncategoriasclip{
	display: flex;
	align-items: center;
    gap: 3%;
}

.seccioncategoriasclip img{
	height: 270px;
    width: 100%;
}



.clip-circulo {
	/*clip-path: circle(30% at center);*/
	/*height: 10%;
    width: 100%;*/
	clip-path: circle(40% at center);
  }

  .svg-normal-mask {
	height: 50px;
    width: 50px;
	mask: url(../img/svg/hoja.svg) 0 repeat;
  }


  .animacion{
	margin-top: 1%;
	animation: 3s infinite alternate circle;
  }

  @keyframes circle {
	from {
	  clip-path: circle(0%);
	}
	to {
	  clip-path: circle(120px);
	}
  }