.seccioncategoriasclip{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.seccioncategoriasclip img{
	height: 270px;
  width: 100%;
}

.clip-circulo {
	clip-path: circle(40% at center);
}

.svg-normal-mask {
	height: 50px;
    width: 50px;
	mask: url(../img/svg/hoja.svg);
}


.animacion{
  height: 25px;
  width: 25px;
	margin-top: 1%;
	animation: 3s infinite alternate circle;
}

@keyframes circle {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(120px);
  }
}

.boxcardcircle{
  width: 90%;
  border-radius:15px;
  align-self: center;
  justify-self: center;
}

.fotozoom{
  transition: transform .2s;
}

.fotozoom:hover{
    transform: scale(1.05);
}

@media screen and (min-width: 400px) {
    .seccioncategoriasclip{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.boxcardcircle{
        width: 45%;
        border-radius:15px;
		margin-top: 0%;
        margin-bottom: 0%;
        margin-right: 1%;
        align-self: center;
        justify-self: center;
    }

    .fotozoom{
      transition: transform .2s;
    }
  
    .fotozoom:hover{
        transform: scale(1.05);
    }
}

@media screen and (min-width: 800px) {
    .seccioncategoriasclip{
		margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3%;
	}

	.boxcardcircle{
        width: 95%;
        border-radius:15px;
        align-self: center;
        justify-self: center;
  }

  .fotozoom{
    transition: transform .2s;
  }

  .fotozoom:hover{
      transform: scale(1.05);
  }
}
  