.seccionboxfotodetalle
{
    text-align: center;
}

.fotosecciondetalle
{
    height: auto;
    width: 80%;
}

.boxcontenedorcategoria{
    font-size: 14px;
}



@media screen and (min-width: 400px) {
    .boxcontenedorcategoria{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
    }
}


@media screen and (min-width: 800px) {
    .contenedordetallecategoria
    {
        display: grid;
        grid-template-columns: 2fr 0.7fr;
        padding-top: 0;
        margin-top: 0;
    }

    .boxcontenedorcategoria{
        display: flex;
        flex-flow: column;
        padding-top: 0;
        margin-top: 0;
        padding-left: 3%;
        padding-right: 3%;
    }

    .boxdetalle{
        background-color: rgb(255, 255, 255);
        margin: 3%;
    }

    .seccionboxfotodetalle
    {
        text-align: center;
    }

    .seccionboxiconos
    {
        display: flex;
    }

    .fotosecciondetalle
    {
        height: 350px;
        width: 80%;
        object-fit:cover;
    }

    .boxicono
    {
        padding-right: 3%;
        text-align: left;
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .textotitulo
    {
        padding-bottom: 2%;
    }

}