/*Inicia estilo de Fotos Portada*/
.boxcard{
    text-align: center;
}

.fotoslider{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.fotocard{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.boxcontenedorportada{
    font-size: 14px;
}

.boxcontenedorportada .boxcard .textolink{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}

/*Termina estilo de Fotos Portada*/

@media screen and (min-width: 400px) {
    /*Inicia estilo de Fotos Portada*/
    .boxcontenedorportada{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
    }

    .boxcard{
        text-align: left;
    }

    .fotoslider{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }

    .fotocard{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina estilo de Fotos Portada*/
}

@media screen and (min-width: 800px) {
    /*Inicia estilo de Fotos Portada*/
    .boxcontenedorportada{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 3%;
    }

    .fotoslider{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina estilo de Fotos Portada*/
   
    .fotocard{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: bottom;
    }
}