/*Inicia estilo de Fotos Portada*/
.boxcontenedorportada{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fotoslider{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.boxcontenedorportada{
    font-size: 14px;
}

.boxcontenedorportada .boxcard .textolink{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
}
/*Termina estilo de Fotos Portada*/

@media screen and (min-width: 400px) {
    /*Inicia estilo de Fotos Portada*/
    .boxcontenedorportada{
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fotoslider{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina estilo de Fotos Portada*/
}

@media screen and (min-width: 800px) {
    /*Inicia estilo de Fotos Portada*/
    .boxcontenedorportada{
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 3%;
    }

    .fotoslider{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina estilo de Fotos Portada*/
}