
.boxitemspresentacion{
 
    display: flex;
    
    flex: 2;
    align-items: flex-start;
    justify-content: left;

    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;

}

.boxitemspresentacionfondo{
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    padding: 1%;
}

.fotocardpresentacion{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: bottom;
}

.boxitemspresentacion span{
    margin: 8px;
    color: rgb(245, 157, 35);
    text-decoration: line-through  15px;
}



@media screen and (min-width: 400px) {
   
    .boxitemspresentacion{
 
        display: flex;
        
        flex: 2;
        align-items: flex-start;
        justify-content: left;

        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 40px;
    
    }

    .boxitemspresentacionfondo{
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        padding: 1%;
    }
    
    .fotocardpresentacion{
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: bottom;
    }

}

@media screen and (min-width: 800px) {

    .boxitemspresentacion{
        display: flex;
        
        flex: 2;
        align-items: flex-start;
        justify-content: left;

        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 40px;
        margin: 0;
    }

    .boxitemspresentacionfondo{
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        padding: 1%;
    }

    .boxpresentacion{
        display: flex;
        
        /*flex-flow: 2 column wrap;*/
        flex: 2;
        align-items: flex-start;
        justify-content: left;
        gap: 1%;
    
        padding-top: 0%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 0%;
    }
    
    .fotocardpresentacion{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: bottom;
    }
    
}