@font-face{
    font-family:'Inter';
    src:url(../fonts/Inter-VariableFont_slnt,wght.ttf);
    font-style: normal;
    font-weight: 400 700;
}

body{
    padding-top: 0%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

nav a {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration:none;
}

nav a:hover{
    color: rgb(245, 157, 35);
}

/*Inicia estilo de encabezado de página*/
header{
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    background-color: #1FAF0E;
}

header a{
    color: rgb(0, 0, 0);
}

.logoencabezado{
    height: 50px;
    width: 50px;
    object-fit: contain;
}
/*Termina estilo de encabezado de página*/

/*Inicia estilo de menú de página*/
nav{
    font-size: 14px;
    font-weight: 700;
    color: rgb(93, 95, 121);
    text-align: left;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.menu_hamburguesa{
    position: absolute;
    top: 2%;
    right: 2%;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#menu:not(.visible){
    display: none;
}

#menu.visible{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: #1FAF0E;
}

.link_menu{
    padding-top: 1%;
    padding-bottom: 1%;
}
/*Termina estilo de menú de página*/

.contenedorcontenido{
    margin: 1%;
    padding: 1%;
}

/*Inicia titulotexto de articulo*/
.titulotexto{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 18px;
}
/*Termina titulotexto de articulo*/

/*Inicia estilo de Fotos Portada*/
.fotoprincipalportada{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.boxportada{
    text-align: center;
}

.fotoslider{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.fotoportada{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.boxcontenedorportada .boxportada .textolinkfotosportada{
    margin-top: 1%;
    margin-bottom: 8%;
    padding: 1%;
}
/*Termina estilo de Fotos Portada*/

.textoportada{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 0%;
}
/*Termina estilo de Fotos Portada*/

/*Inicia estilo de Footer*/
footer{
    padding-top: 1%;
    color: rgb(255, 255, 255);
    background-color: #1FAF0E;
    text-align: center;
    display: block;
}

footer a{
    color: rgb(255, 255, 255);
}

.textosm{
    font-size: 9px;
    padding-top: 5px;
    padding-bottom: 35px;
}

.textosm div{
    padding-top: 5px;
    padding-bottom: 5px;
}

footer .bloque a{
    display: block;
}
/*Termina estilo de Footer*/

@media screen and (min-width: 400px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(8, minmax(0,1fr));
        gap: 0%;
    }

    

    #menu:not(.visible){
        display: none;
    }
    
    #menu.visible{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        top: 0px;
        background-color: #1FAF0E;
      }
      
      .link_menu{
          padding-top: 1%;
          padding-bottom: 1%;
      }

    header {
        grid-column: 1 / 9;
        grid-row: 1;

        text-align: left;
    }
    
    nav {
        background-color: #1FAF0E;
        grid-column: 1 / 9;
        grid-row: 2;
    }
    
    
    main {
        grid-column: 1 / 9;
        grid-row: 3;
    }
    
    footer {
        grid-column: 1 / 9;
        grid-row: 4;
    }

    /*Inicia titulotexto de articulo*/
    .titulotexto{
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        font-size: 18px;
    }
    /*Termina titulotexto de articulo*/

    .contenedorcontenido{
        margin: 1%;
        padding: 1%;
    }

    /*Inicia estilo de Fotos Portada*/
    .boxcontenedorportada{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3%;
    }

    .boxportada{
        text-align: left;
    }

    .fotoslider{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }

    .fotoportada{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina estilo de Fotos Portada*/
 
     nav, header, main, article{
        margin: 0;
        padding: 0;
     }
    

}

@media screen and (min-width: 800px) {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(12, minmax(0,1fr));
        gap:0%;
    }
    
    #enlace_menu:not(.visible){
        display: none;
    }

    #menu:not(.visible){
        display: block;
    }

    header {
        grid-column: 1 / 3;
        grid-row: 1;
        text-align: left;
    }
    
    nav {
        background-color: #1FAF0E;

        grid-column: 3 / 13;
        grid-row: 1;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: end;
        text-align: right;
        align-items: center;
    }

    .navegacion{
        padding-right: 1%;
    }

    nav a {
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-decoration:none;
    }
    
    main {
        grid-column: 1 / 13;
        grid-row: 2;
    }
    
    footer {
        grid-column: 1 / 13;
        grid-row: 3;
    }
    
    nav ul li{
        display: inline-block;
        padding-left: 12px;
    }

    /*Inicia titulotexto de articulo*/
    .titulotexto{
        padding-top: 1%;
        padding-bottom: 1%;
        text-align: center;
        font-size: 18px;
    }
    /*Termina titulotexto de articulo*/

    .contenedorcontenido{
        margin: 1%;
        padding: 1%;
    }

    /*Inicia estilo de Fotos Portada*/
    .boxcontenedorportada{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 3%;
    }

    .boxportada{
        text-align: left;
    }

    .fotoslider{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: bottom;
    }
    /*Termina estilo de Fotos Portada*/
   
    .fotoportada{
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: bottom;
    }

    footer .bloque a{
        display: inline;
    }

    
}
/*Termina definición del sistema Grid*/
